# Python
__pycache__/
*.pyc
.venv/
.env

# MLflow
mlartifacts/

# Airflow
airflow-data/
airflow_home/
*.db
*.pid

# Logs
*.log

# IDE
.vscode/
.idea/

# Environment files (keep local only)
.env
.env.*
*.env
!.env.example