# Python
__pycache__/
*.pyc
.venv/
.env

# MLflow
mlartifacts/
mlflow/mlruns/
mlflow/artifacts/
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal

# Airflow
airflow-data/
airflow_home/
*.db
*.pid

# Logs
*.log

# Temporary files
latest_run_id.txt
*_temp.txt
*.tmp

# IDE
.vscode/
.idea/

# Environment files (keep local only)
.env
.env.*
*.env
!.env.example