grafana:
  adminPassword: admin
  service:
    type: NodePort  # or ClusterIP (Kind uses localhost)
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        uid: ds_prometheus
        url: http://prometheus-server.mlops-dev.svc.cluster.local:80
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 30s
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      iris-dashboard:
        # Provision our repo's dashboard (uses Prometheus UID ds_prometheus)
        url: https://raw.githubusercontent.com/nickyui99/mlops_takehome_nicholas/main/dashboards/iris-dashboard-full.json