alertmanager:
  config:
    global:
      resolve_timeout: 5m
    receivers:
    - name: "null"
    route:
      group_by:
      - alertname
      receiver: "null"
  persistentVolume:
    enabled: false

server:
  persistentVolume:
    enabled: false
  
  global:
    scrape_interval: 15s
    evaluation_interval: 15s
  
  files:
    alerts: |
      groups:
      - name: iris.rules
        rules:
        - alert: HighErrorRate
          expr: rate(http_requests_total{status=~"5.."}[1m]) / rate(http_requests_total[1m]) > 0.05
          for: 1m
          labels:
            severity: warning
          annotations:
            summary: "High error rate on /predict (>5%)"

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: 'titanic-predictor'
        scrape_interval: 15s
        scrape_timeout: 10s
        metrics_path: '/metrics'
        static_configs:
          - targets: ['titanic-predictor-svc.mlops-dev.svc.cluster.local:8000']
            labels:
              service: 'titanic-predictor'
              namespace: 'mlops-dev'
